Minigin/Win32/Release/
Minigin/Win32/Debug/
Minigin/x64/Release/
Minigin/x64/Debug/
x64/Release/
x64/Debug/
Win32/Release/
Win32/Debug/
.vs/
*.dll
*.pdb
*.idb
*.tlog
*.obj
*.exe
*.ilk
*.txt
*.log
*.dll
